header .logo img{
  max-width: 230px;
  max-height: 50px;
}

/*ASSETS PER PROJECT PAGE*/
.item .asset-image{
  width:40px;
  height:40px;
  float:left;

  background-repeat: no-repeat;
  background-position: right top;
}


.item .asset-image.product-VIDEO{
  background-image: url("../images/icons/video.png");
}

.item .asset-image.product-DOCUMENT{
  background-image: url("../images/icons/document.png");
}

.testmate-modal .modal-dialog{
    min-width: 900px;
}
.box-comments {
    background: none;
}
h3.heading-comment {
    font-size: 18px;
    font-weight: bold;
}
.main-comments {
    height: 310px;
    overflow-y: auto;
    margin-bottom: 10px;
}

/*------------ ASSET FORM START */
.error {
  color: red;
}

#assetForm #uploadDate {
    width: 80%;
    display: inline-block;
}
/*------------ ASSET FORM END */
